<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="template-author" content="Lavender Nova">
    <title>Aposentos de San Pedro</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/modern-business.css" rel="stylesheet">
    <link href="../static/css/carousel-testimonio.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome-4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <!--  WuBook Javascript Library -->
    <script src="https://wubook.net/js/wblib.jgz"></script>
</head>

<body>
    <nav class="navbar fixed-top navbar-light bg-light navbar-ap">
        <a class="logo-content logo-dinamico-1" href="index.html">
            <img class="img-fluid logo"   src="../static/img/logo2.png" alt="logo">
        </a>
        <a class="logo-content logo-dinamico-2" href="index.html">
            <img class="img-fluid logo"   src="../static/img/logo1.png" alt="logo">
        </a>
        <div class="form-dinamico_1">
            <form class="form-inline ">
                <div class="form-group">
                    <label for="exampleInputName2">Check In</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="fecha">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Check Out</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="fecha">
                </div>
                <button type="submit" class="btn btn-suscription">Reserva Ya</button>
            </form>
        </div>
        <button type="submit" class="btn btn-suscription2 btn-dinamico-1">Reserva</button>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link active link-ap-navbar" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="galeria.html">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="reservas.html">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="contenedor">
            <img src="../static/img/contacto.jpg" class="img-fluid" alt="Responsive Imagen">
        </div>
    </div>
    <!-- Page Content -->
    <div class="container-fluid color-fluid-2 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 adorno">
                    <h1>CONTACTENOS</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec åodio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid color-fluid-1 limpio">
        <div class="row no-gutters mt-5 mb-5">
            <div class="col-xs-12 col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d5237.832524736019!2d-75.54588986697121!3d10.42627933061023!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle+maps!5e0!3m2!1ses-419!2sco!4v1523053020729" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-xs-12 col-md-12 mt-5 mb-5">
                <div class="container">
                    <div class="row">
                    <div class="col-xs-12 col-md-6 text-right">
                        <h4>Dirección:</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <h4>Teléfono:</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="col-xs-12 col-md-5 container-from-4">
                          <h1 class="mb-4">INFORMACIÓN DE CONTACTO</h1>
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="form-row">
                                <div class="control-group form-group col-xs-12 col-md-6">
                                    <label for="inputEmail4">Nombre</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="control-group form-group col-xs-12 col-md-6">
                                    <label for="inputPassword4">Apellido</label>
                                    <input type="text" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="control-group form-group col-xs-12 col-md-6">
                                    <label for="inputEmail4">Teléfono</label>
                                    <input type="text" class="form-control" id="inputEmail4" placeholder="Telefono">
                                </div>
                                <div class="control-group form-group col-xs-12 col-md-6">
                                    <label for="inputPassword4">Email</label>
                                    <input type="Email" class="form-control" id="inputPassword4" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="control-group form-group col-xs-12 col-md-12 mb-4">
                                    <label for="exampleFormControlTextarea1">Mensaje</label>
                                    <textarea class="nuevo-form-control" placeholder="Mensaje" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                            <!-- For success/fail messages -->
                            <button type="submit" class="btn btn-special">Enviar</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row links-site">
                    <div class="col-md-3">
                        <img class="img-fluid logo-footer" src="../static/img/logo2.png" alt="">
                         <h3 class="text-footer mt-5">
                            Dirección
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quibusdam tempore.
                            </p>
                    </div>
                    <div class="col-md-3">

                   
                            <h3 class="text-footer">
                            Mapa del sitio
                            </h3>
                            <ul class="list-inline">
                                <li class="nav-item">
                                <a class="nav-link active" href="index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="reservas.html">Reservas</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                       
                            
                    </div>
                     <div class="col-md-3">

                   
                            <h3 class="text-footer">
                            Servicios especial
                            </h3>
                            <ul class="list-inline">
                                <li class="nav-item">
                                <a class="nav-link active" href="index.html">Tour</a>
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="galeria.html">Spa</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="reservas.html">Viaje en Yate</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Restaurante</a>
                                </li>
                       
                            
                    </div>
                    <div class="col-md-3 redes-sociales text-center">
                       
                        <ul id="" class="list-inline">
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn "><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn  btn-circle-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn  btn-circle-2"><i class="fab fa-twitter"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid color-fluid-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copy text-center">
                        <p>Desarrolado por
                            <a href="http://www.facebook.com">Naritas</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/carousel-testimonio.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
    <!-- Script for tourism packages -->
    <script>
    var WuBook = new _WuBook(1516382412);

    function packages(pkgsList) {
        for (i = 0; i < pkgsList.length; i++) {
            var lista = pkgsList[i];
            var imgurl = 'https://wubook.net/wbkd/wbkimgs/rpkgs/' + lista.src;
            var title = lista.titles.def;
            var descriptions = lista.descriptions.def;
            var noches = lista.nights;
            var precio = lista.costs;
            // ** CREAR ELEMENTOS **
            var card = document.createElement('div');
            var card_body = document.createElement('div');
            var card_img = document.createElement('img');
            var card_title = document.createElement('h5');
            var card_text = document.createElement('p');
            var div_button = document.createElement('div');
            var card_button = document.createElement('a');
            // ** ATRIBUTOS DE LOS ELEMENTOS **
            card.setAttribute('class', 'card');
            card.style.width = "18rem";
            card_img.setAttribute('class', 'card-img-top');
            card_img.src = imgurl;
            card_body.setAttribute('class', 'card-body text-center')
            card_title.setAttribute('class', 'card-title');
            card_title.textContent = title;
            card_text.setAttribute('class', 'card-text');
            card_text.textContent = descriptions;
            div_button.setAttribute('class', 'lujo-ap');
            card_button.setAttribute('href', '#');
            card_button.setAttribute('class', 'btn btn-primary btn-leer-mas-1');
            card_button.textContent = "Reserve ya!";
            document.getElementById('pkgs').appendChild(card);
            card.appendChild(card_img);
            card.appendChild(card_body);
            card_body.appendChild(card_title);
            card_body.appendChild(card_text);
            card.appendChild(div_button);
            div_button.appendChild(card_button);

        }
    }
    WuBook.pkgs(packages)
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function() {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5acb6387d7591465c709520c/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>