<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Lavender Nova" content="">
    <title>Aposentos de San Pedro</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/modern-business.css" rel="stylesheet">
    <link href="../static/css/carousel-testimonio.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome-4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-light bg-light navbar-ap">
        <a class="logo-content logo-dinamico-1" href="index.html">
            <img class="img-fluid logo"   src="../static/img/logo2.png" alt="logo">
        </a>
        <a class="logo-content logo-dinamico-2" href="index.html">
            <img class="img-fluid logo"   src="../static/img/logo1.png" alt="logo">
        </a>
        <div class="form-dinamico_1">
            <form class="form-inline ">
                <div class="form-group">
                    <label for="exampleInputName2">Check In</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="fecha">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Check Out</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="fecha">
                </div>
                <button type="submit" class="btn btn-suscription">Reserva Ya</button>
            </form>
        </div>
        <button type="submit" class="btn btn-suscription btm-dinamico-1">Reserva</button>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item active">
                    <a class="nav-link active link-ap-navbar" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="galeria.html">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="reservas.html">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-ap-navbar" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="contenedor">
            <img src="../static/img/header-habitaciones.jpg" class="img-fluid" alt="Responsive Imagen" alt="">
        </div>
    </div>
    <!--.row 1-->
    <div class="container-fluid color-fluid-1 mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5 mb-5 adorno">
                    <h1>GALERIA</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec åodio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                </div>
                <!-- cajas-->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/ll4293.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title"><h3>My Konos King</h3></h5>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/ll4293.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title"><h3>My Konos King</h3></h5>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-2">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/ll4293.jpg" alt="Card image cap">
                        <div class="card-body text-center">
                            <h5 class="card-title"><h3>My Konos King</h3></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row links-site">
                    <div class="col-md-3">
                        <img class="img-fluid logo-footer" src="../static/img/logo2.png" alt="">
                         <h3 class="text-footer mt-5">
                            Dirección
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quibusdam tempore.
                            </p>
                    </div>
                    <div class="col-md-3">

                   
                            <h3 class="text-footer">
                            Mapa del sitio
                            </h3>
                            <ul class="list-inline">
                                <li class="nav-item">
                                <a class="nav-link active" href="index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="reservas.html">Reservas</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                                </li>
                       
                            
                    </div>
                     <div class="col-md-3">

                   
                            <h3 class="text-footer">
                            Servicios especial
                            </h3>
                            <ul class="list-inline">
                                <li class="nav-item">
                                <a class="nav-link active" href="index.html">Tour</a>
                                </li>
                                <li class="nav-item">
                                 <a class="nav-link" href="galeria.html">Spa</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="reservas.html">Viaje en Yate</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Restaurante</a>
                                </li>
                       
                            
                    </div>
                    <div class="col-md-3 redes-sociales text-center">
                       
                        <ul id="" class="list-inline">
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn "><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn  btn-circle-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn  btn-circle-2"><i class="fab fa-twitter"></i></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid color-fluid-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copy text-center">
                        <p>Desarrolado por
                            <a href="http://www.facebook.com">Naritas</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/carousel-testimonio.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>

</html>